.project h1
    text-align: center
    margin-bottom: 0.5em
    font-size: 1.9em

.project h3
    text-align: center
    font-weight: normal
    font-size: 1.4em
    font-style: italic

.project .authors
    text-align: center
    margin-bottom: 0.25em

.project .organizations
    text-align: center

.project .links
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    margin-top: 1em
    margin-bottom: 1em
    .button
        flex: 1
        text-align: center
        text-decoration: none
        background-color: #055ada
        color: #fff;
        margin: 0px 6px
        max-width: 8em
        padding: 11px 0px
        border-radius: 6px
        &:hover
            opacity: 0.7