---
title: Blog
stylesheets:
- "/css/blog.css"
---
<!doctype html>
<html>

{% include head.html %}

<body>
  {% include navbar.html %}
  <div class="wrapper">
    {% for post in site.posts %}
    {% if post.external_url %}
    <a class="post-snippet" href="{{ post.external_url }}">
      {% else %}
      <a class="post-snippet" href="{{ post.url }}">
        {% endif %}
        <article>
          <h3>{{ post.title }}</h3>
          {{ post.content | strip_html | truncatewords: 20 }}
        </article>
      </a>
      {% endfor %}
  </div>
</body>

</html>