<head>
  <meta charset="utf-8">
  {% if page.title %}
  <title>{{ site.title }} / {{ page.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif %}
  <!--Imports-->
  <link rel="stylesheet" type="text/css" href="/css/site.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
  {% for stylesheet in page.stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ stylesheet }}">
  {% endfor %}
  {% for stylesheet in include.stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ stylesheet }}">
  {% endfor %}
  {% if page.mathjax %}
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
  {% endif %}
</head>