<head>
  <meta charset="utf-8">
  {% if page.title %}
  <title>{{ site.title }} / {{ page.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif %}
  <!--Imports-->
  <link rel="stylesheet" type="text/css" href="/css/site.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
  {% for stylesheet in page.stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ stylesheet }}">
  {% endfor %}
  {% for stylesheet in include.stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ stylesheet }}">
  {% endfor %}
</head>