{{ define "main" }}
<div class="container">
  <aside class="table-of-contents"></aside>
  <div class="main wrapper-text">
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ range .Pages.GroupByDate "2006" }}
  <h2 id="{{ .Key }}">{{ .Key }}</h2>
  <ul class="page-list">
    {{ range .Pages }}
    <li>
      <b><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></b>&nbsp;&nbsp;|&nbsp;&nbsp;<i>{{ .Date | time.Format "Jan 2" }}</i>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</div>
<nav class="table-of-contents">
  <h1>Table of Contents</h1>
  <ol>
    {{ range .Pages.GroupByDate "2006" }}
    <li><span>></span><a href="#{{ .Key }}">{{ .Key }}</a></li>
    {{ end }}
  </ol>
</nav>
<script>
document.addEventListener("scroll", function() {
  const sections = document.querySelectorAll("h2[id]");
  let currentSection = null;

  sections.forEach(section => {
    const sectionTop = section.getBoundingClientRect().top;
    if (sectionTop <= window.innerHeight / 2) {
      currentSection = section;
    }
  });

  if (currentSection) {
    const tocItems = document.querySelectorAll(".table-of-contents li");
    tocItems.forEach(item => {
      span = item.querySelector("span");
      span.classList.remove("active");
      if (item.querySelector("a").getAttribute("href") === `#${currentSection.id}`) {
        span.classList.add("active");
      }
    });
  }
});
</script>
</div>
{{ end }}
